!=partial('sign/sidebar')
#content
  .panel
    .header
      ul.breadcrumb
        li.active 登录
    .inner
      .sep10
      .sep10
      - if(locals.error) {
      .alert.alert-error
        !{'<a class="close" data-dismiss="alert" href="#">&times;</a>'}
        strong #{error}
      - }
      form#signin_form.form-horizontal(action='/signin', method='post')
        .control-group
          label.control-label(for='org') 商户代码
          .controls
            input#name.input-xlarge(name='org', size='30', type='text')
        .control-group
          label.control-label(for='role') 身份
          .controls
            input#name.input-xlarge(name='role', size='30', type='text')
        .control-group
          label.control-label(for='name') 用户名
          .controls
            input#name.input-xlarge(name='name', size='30', type='text')
        .control-group
          label.control-label(for='pass') 密码
          .controls
            input#pass.input-xlarge(name='pass', size='30', type='password')
            //
                p.help-block
                  a(href='/search_pass') 我忘记了密码
        input(type='hidden', name='_csrf', value='#{csrf}')
        .form-actions
          input.btn(type='submit', value='登录')
.cl.cr