#sidebar
  .panel
    .header
      span.col_fade 关于
    .inner
      p CNode：Node.js专业中文社区
      p 在这里你可以：
      ul
        li
          a(href='/stores') 门店管理
        li
          a(href='/merchants') 商品类型管理
        li
          a(href='/merchants') 商品管理
        li
          a(href='/merchants') 会员管理
        li
          a(href='/merchants') 员工管理