#sidebar
  .panel
    .header
      span.col_fade 关于
    .inner
      p 泛盈商汇：构建商户与会员的桥梁。
      p 在这里你可以：
      ul
        li
          a(href='/stores') 门店管理
        li
          a(href='/goods/index') 商品管理
        li
          a(href='/users') 会员管理
        li
          a(href='/members') 员工管理