<<<<<<< HEAD
#sidebar
  .panel
    .header
      span.col_fade 关于
    .inner
      p 泛盈商汇：专业会员管理平台
      p 在这里你可以：
      ul
        li 向别人提出你遇到的问题
        li 帮助遇到问题的人
        li 分享自己的知识
        li 和其它人一起进步
#content
script(src='/public/jquery/jquery.js')
script(src='/public/jquery/jquery.base64.js')
script(src='/public/javascripts/sha1.js')
    .panel
        .header
          ul.breadcrumb
            li.active 主页
              span.divider /
            li
              a(href='/signin') 登陆
        .inner
          .sep10
          .sep10

script
     //TODO 输入你的accessId和accessKey
     var accessId = "9xnois6k666b5l0wo8zt2ido";
     var accessKey = "pgFL7O1JHLjWcYNEUCnkuWIAUHU=";
     var ossEndpoint = "http://storage.aliyun.com";
     var contentMD5 = "";
     var contentType = "text/html";
     //TODO 输入你的bucket名称
     var bucketName = "/expro_test_01";
     //TODO 输入你的object名称
     var objectName = "Readme-说明.htm";
     //TODO 输入你的上传、下载文件路径
     var uploadFilePath = "d:/Readme-说明.htm";
     var downloadFilePath = "d:/Readme-说明.htm";
     var authorization = "";
     var mytime=new Date().toGMTString();    //获取当前时间
     var xmlHttp;

     function base64(){
       alert("starting base64 ...");
       var str = accessKey + '/n' +
                'PUT/n' +
                contentMD5 + '/n' +
                contentType + '/n' +
                mytime + '/n' +
                'x-oss-meta-author:webgod2006@gmail.com' + '/n' +
                bucketName + '/My_test01';

       alert("加密前Str："+str);
       var sha1Str = hex_sha1(str);
       alert("加密111");
       authorization = $.base64.encode(sha1Str);
       alert("加密后Str："+authorization);
     };

      function sendMsgToOSS(){
        base64();

        if (window.ActiveXObject) {
          xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        else if (window.XMLHttpRequest) {
          xmlHttp = new XMLHttpRequest();
        }
        xmlHttp.open("GET", ossEndpoint, true);
        xmlHttp.setRequestHeader("Content-Type", contentType);
        xmlHttp.setRequestHeader("Authorization", "OSS "+accessId+":"+authorization);
        xmlHttp.setRequestHeader("Content-Md5", contentMD5);
        xmlHttp.setRequestHeader("Date", mytime);
        xmlHttp.setRequestHeader("x-oss-meta-author", "webgod2006@gmail.com");
        xmlHttp.onreadystatechange = callback;//设置回调函数
        alert("Start sending`````");
        xmlHttp.send();
        alert("End sending`````");
      };

      function callback() {
         alert("callback");
         if (xmlHttp.readyState == 4) {
           if (xmlHttp.status == 200) {
           //do something interesting here
              alert('xmlHttp.status == 200');
           }
         }
         alert("xmlHttp.readyState:"+xmlHttp.readyState);
       };

      $(document).ready(function() {
        //alert("starting....");
        //sendMsgToOSS();
     });
=======
#content
    .panel
        H1 测试首页
        - if(locals.current_user) { 
        li
          a(href='/signup') 设置
        li
          a(href='/signin') 退出           
        - }
 
>>>>>>> df0c14e... fix session problem after redirect
