#sidebar
  .panel
    .header
      span.col_fade 关于
    .inner
      p 泛盈商汇：构建商户与会员的桥梁。
      br
      p 商户管理：
      ul
        li
          a(href='/merchants') 商户管理
        li
          a(href='/goods/type') 商品类型管理
