!=partial('merchants/sidebar')
//以下是Ztree的js
link(rel='stylesheet', type='text/css', href='/libs/JQuery_zTree_v3.2/css/zTreeStyle/zTreeStyle.css', media='screen')
script(type='text/javascript', src='/libs/JQuery_zTree_v3.2/js/jquery.ztree.core-3.2.js')

//
   style
//jquery ui css
link(rel='stylesheet', type='text/css', href='/libs/jquery-ui-1.8.21.custom/css/ui-lightness/jquery-ui-1.8.21.custom.css', media='screen')

//新版本jqGrid css
link(rel='stylesheet', type='text/css', href='/libs/jquery.jqGrid-4.4.0/css/ui.jqgrid.css', media='screen')

//other css
link(rel='stylesheet', type='text/css', href='/libs/bootstrap/css/bootstrap.css', media='screen')
link(rel='stylesheet', type='text/css', href='/stylesheets/style.css', media='screen')

//
   script

//jquery-1.7.2
script(type='text/javascript', src='/libs/jquery-ui-1.8.21.custom/js/jquery-1.7.2.min.js')

//以下是JQuery ui的js
script(type='text/javascript', src='/libs/jquery-ui-1.8.21.custom/js/jquery-ui-1.8.21.custom.min.js')

//new JQGrid
script(type='text/javascript', src='/libs/jquery.jqGrid-4.4.0/js/i18n/grid.locale-cn.js')
script(type='text/javascript', src='/libs/jquery.jqGrid-4.4.0/js/jquery.jqGrid.min.js')

//system
script(type='text/javascript', src='/libs/bootstrap/js/bootstrap.js')
script(type='text/javascript', src='/javascripts/main.js')

//other
script(type='text/javascript', src='/libs/jqGrid_fancybox/js/jquery.form.js')
script(type='text/javascript', src='/libs/jqGrid_fancybox/js/jquery.message.js')

//以下是本页面引入的js文件
script(type='text/javascript', src='/javascripts/views/goods/type.js')
style
    select, input[type="file"] {
        height: 18px;
        line-height: 28px;
    }
#content
  .panel
    .header
        ul.breadcrumb
            li
                a(href='/') 主页
                span.divider /
            li.active 商品管理
    table(border='0', width='100%')
        tr
            td
                .inner
                    form#goods_type_form(action='/goods/type', method='post')
                        p.legend
                            strong 注意:
                                em 红色
                                |为必填字段！
                        fieldset
                            legend
                            div(style="float:right;")
                                input(type='hidden', name='_csrf', value='#{csrf}')
                                input#close.btn(type='button', value=' 关 闭 ', onclick='$.fancybox.close();')
                        fieldset(style="float:left;width: 180px;")
                            legend(style='color: #C00; font-style: normal;') 商品类型
                            div(style='overflow: auto;')
                                ul#tree.ztree
                        fieldset#type_detail_div(style="float:right;width: 220px;")
                            legend 详细信息
                            #operate_div
                                input#addNewType.btn(type='button', value='新增')
                                input#updateType.btn(type='button', value='更新')
                                input#saveNewType.btn(type='button', value='保存')
                                input#delType.btn(type='button', value='删除')
                            #_id_div
                                label.error(style="width:70px;") 流水号：
                                input#_id.noAllowInput(type='text', name='_id', readonly)
                            #parent_id_div
                                label.error(style="width:70px;") 父ID：
                                input#parent_id.noAllowInput(type='text', name='parent_id', readonly)
                            #name_div
                                label.error(style="width:70px;") 名称：
                                input#name.allowInput(type='text', name='name')
                            #create_time_div
                                label.error(style="width:70px;") 创建时间：
                                input#create_time.noAllowInput(type='text', name='create_time', readonly)
                            #isleaf_div
                                label.error(style="width:70px;") 叶子：
                                input#isleaf.noAllowInput(type='text', name='isleaf', readonly)
                            #level_div
                                label.error(style="width:70px;") 层次：
                                input#level.noAllowInput(type='text', name='level', readonly)
                            #comment_div
                                label.error(style="width:70px;") 备注：
                                textarea#comment.allowInput(rows='5', cols='20', name='comment')