!!! 5
html
  head
    title  ZTREE DEMO 
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='../../css/zTreeStyle/zTreeStyle.css', type='text/css')
    style
      body {
      background-color: white;
      margin:0; padding:0;
      text-align: center;
      }
      div, p, table, th, td {
      list-style:none;
      margin:0; padding:0;
      color:#333; font-size:12px;
      font-family:dotum, Verdana, Arial, Helvetica, AppleGothic, sans-serif;
      }
      #testIframe {margin-left: 10px;}
    script(type='text/javascript', src='../../js/jquery-1.4.4.min.js')
    script(type='text/javascript', src='../../js/jquery.ztree.core-3.2.js')
    script(type='text/javascript')
  body
    table(border='0', height='600px', align='left')
      tr
        td(width='260px', align='left', valign='top', style='BORDER-RIGHT: #999999 1px dashed;')
          ul#tree.ztree(style='width: 260px; overflow: auto;')
        td(width='770px', align='left', valign='top')
          iframe#testIframe(name='testIframe', frameborder='0', scrolling='AUTO', width='100%', height='600px', src='core/standardData.html', onload='loadReady();')
