!=partial('stores/sidebar')
//以下是一个jqGrid+fancybox的解决方案
link(rel='stylesheet', type='text/css', href='/libs/jqGrid_fancybox/css/ui-lightness/jquery-ui-1.8.2.custom.css', media='screen')
link(rel='stylesheet', type='text/css', href='/libs/jqGrid_fancybox/css/ui.jqgrid.css', media='screen')
link(rel='stylesheet', type='text/css', href='/libs/jqGrid_fancybox/css/fancybox.css', media='screen')

link(rel='stylesheet', type='text/css', href='/libs/jqGrid_fancybox/css/fancybox.css', media='screen')
<link rel="StyleSheet" href="dtree.css" type="text/css" />
<script type="text/javascript" src="dtree.js"></script>

script(type='text/javascript', src='/libs/jqGrid_fancybox/js/i18n/grid.locale-cn.js')
script(type='text/javascript', src='/libs/jqGrid_fancybox/js/jquery.jqGrid.min.js')
script(type='text/javascript', src='/libs/jqGrid_fancybox/js/jquery.fancybox.js')
script(type='text/javascript', src='/libs/jqGrid_fancybox/js/jquery.form.js')
script(type='text/javascript', src='/libs/jqGrid_fancybox/js/jquery.message.js')
style
     input, textarea, select, .uneditable-input {
         width: auto;
         padding: 0px;
     }
     #opt{height:150px; }
     .input{width:120px; height:19px; line-height:19px; padding:1px; border:1px solid #ccc}
     .btn{width:58px; height:24px; border:1px solid #ccc; background:url(/images/btn_bg.gif) repeat-x; cursor:pointer;}
     .fanbox{width:540px; padding:0}
     .fanbox h3{height:32px; line-height:32px; padding-left:12px; background:#369; color:#fff}
     .post_table{width:98%; margin:10px auto}
     .post_table td{height:24px; line-height:24px; padding:2px; border:1px solid #ccc; border-collapse:collapse}
     .input2{width:220px; height:20px; line-height:20px; padding:1px; border:1px solid #999}
     .jquery-message{position:absolute;  top:15%; left:45%; background:#217eb9; border:1px solid #ff9; padding:3px 12px 3px 12px; z-index:9001; color:#fff;}
     .nodata{display:block; position:absolute; top:100px; left:35%; padding:6px 20px; border:1px solid #fc9; background:#ffc;}
     td a{color:#369}
     .google_ad{width:728px; height:90px; margin:50px auto}
     .grid_table{width:780px; margin:20px auto}
     .fanbox{width:540px; padding:0}
     .fanbox h3{height:32px; line-height:32px; padding-left:12px; background:#369; color:#fff}

#content
  .panel
    .header
      ul.breadcrumb
        li
          a(href='/') 主页
          span.divider /
        li.active 商户门店管理
    .inner
      .sep10
      .sep10
      #opt
        #query
          label 门店编号：
          input#_id.input(type='text')
          label 门店名称：
          input#name.input(type='text')
          input#find_btn.btn(type='submit', value='查 询')
        input#add_btn.btn(type='button', value='新 增')
        input#edit_btn.btn(type='button', value='修 改')
        input#del_btn.btn(type='button', value='删 除')
      table#addtree
      #paddtree

      script(type='text/javascript')
          jQuery("#addtree").jqGrid({
            url: '/stores/',
            treedatatype: 'json',
            mtype: 'GET',
            colNames:["id","Account","Acc Num", "Debit", "Credit","Balance"],
            colModel:[
                {name:'_id',index:'id', width:1,hidden:true,key:true, editable:true},
                {name:'name',index:'name', width:180, editable:true},
                {name:'num',index:'acc_num', width:80, align:"center",editable:true},
                {name:'debit',index:'debit', width:80, align:"right",editable:true},
                {name:'credit',index:'credit', width:80,align:"right",editable:true},
                {name:'balance',index:'balance', width:80,align:"right",editable:true}
            ],
            height:'auto',
            pager : "#paddtree",
            treeGrid: true,
            ExpandColumn : 'name',
            editurl:'/stores/',
            caption: "商品类型管理"
          });